/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 100;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-100.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 200;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-200.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 300;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-300.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 400;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-400.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 500;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-500.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 600;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-600.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 700;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-700.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 800;*/
  /*font-display: block;*/
  /*src: url("/fonts/Inter-800.ttf") format("ttf");*/
/*}*/

/*@font-face {*/
  /*font-family: "Inter";*/
  /*font-style: normal;*/
  /*font-weight: 900;*/
  /*font-display: block;*/
  /*src: url("../../../fonts/Inter-900.ttf") format("ttf");*/
/*}*/


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
